@using ECommerce.Model.Models
@model Product

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<html lang="en">
<head>
    <partial name="_HeaderPartial" />

</head>
<body class="bg-gray-100 font-bold text-black work-sans leading-normal text-base tracking-normal">
    <!--Nav-->
    <partial name="_NavPartial" />

    <div class="container mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <partial name="_NotificationPartial" />
        <div class="flex flex-col md:flex-row ml-auto mr-auto">
            <!-- Product Image -->
            <div class="hover:scale-105 transition flex justify-center border-gray-50  border-4 border-spacing-10 py-3 px-3  bg-white rounded-xl shadow-xl hover:shadow-2xl" >
                <img src="~/public/image/@Model.ImageUrl" alt="Product Image" class=" object-cover  w-96 max-w-xs h-auto rounded-lg">
            </div>
            <!-- Product Details -->
            <div class="md:w-1/2 md:pl-10 mt-6 md:mt-0">
                <h2 class="text-2xl font-bold text-gray-800">@Model.Name</h2>
                <p class="text-lg text-teal-600 mt-2">$@Model.Price</p>
                <p class="text-gray-500">In Stock:@Model.Stock</p>
                <p class="text-gray-700 mt-4">@Model.Description</p>

                <div class="mt-6 flex items-center space-x-4 @(Model.Stock == 0 ? "opacity-50 cursor-not-allowed" : "")">

                    <form asp-controller="Cart" asp-action="AddToCart">

                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.ID"
                           class="border border-teal-600 text-teal-600 px-4 py-2 rounded-lg hover:bg-teal-600 hover:text-white transition duration-200 @(Model.Stock == 0 ? " pointer-events-none opacity-50 cursor-not-allowed" : "") ">
                            Add to Cart
                        </a>
                    </form>


                   


                </div>

                <form asp-controller="Product" asp-action="AddReview" asp-route-id="@Model.ID">
                    <textarea name="content" class="border border-gray-300 rounded-lg p-2" placeholder="Write a review"></textarea>
                    <button type="submit" class="border border-teal-600 text-teal-600 px-4 py-2 rounded-lg hover:bg-teal-600 hover:text-white transition duration-200">
                        Add Review
                    </button>
                </form>

                
                
               
            </div>

           
        </div>

        <hr class="my-6 border-gray-300">

        <section class="bg-white ">

            <div class="container mx-auto  p-6">
                <h2 class="text-2xl font-bold text-gray-800 mb-6">Product Reviews</h2>

                <!-- Review Card -->
                @foreach (var Review in Model.Reviews.Take(3).OrderBy(x => Guid.NewGuid()))
                {
                    <div class="transition hover:grow bg-white rounded-lg shadow-xl hover:shadow-2xl p-6 mb-4">
                        <h3 class="text-lg font-bold text-gray-800">@Review.User.FirstName @Review.User.LastName</h3>
                        <p class="text-gray-500 mt-2">@Review.Content</p>
                    </div>
                }
            </div>

        </section>


    </div>


   	 


    <partial name="_FooterPartial" />

    
    


</body>
</html>